.App{
  background-color:#0B0819;
}

.topNav{
  position:absolute;
  width: 100%;
  height:69px;
}

.MainForm{
  position: absolute;
  height: 567px;
  width: 470px;
  left:33%;
  top: 180px;
  
  border-radius: 0px;
}